# Digital Ocean Registry Configuration
REGISTRY_NAME=your-do-registry-name
DIGITALOCEAN_ACCESS_TOKEN=your-do-access-token

# Database Configuration
DATABASE_PASSWORD=YourStr0ng!Pass
DATABASE_NAME=NpTrack
DATABASE_SERVER_TIME_ZONE=EAT

# Application Configuration
SYSTEM_HOST=0.0.0.0
SYSTEM_PORT=6446
LOGS_PATH=logs
DATABASE_DRIVER=com.microsoft.sqlserver.jdbc.SQLServerDriver

# Deployment Configuration
DROPLET_HOST=your.droplet.ip.address
DROPLET_USERNAME=root
DROPLET_SSH_KEY=your-private-ssh-key
DROPLET_PORT=22 